*{
    font-family:'Courier New', Courier, monospace;
    margin: 0;
    overflow: hidden;
}

::-webkit-scrollbar {
    display: none;
}

/*===========================================================================================

Header

=============================================================================================*/

header{
  background-color: #ffffff;
  height: 4em;
  display: flex;
  overflow-y: hidden;
}

.title{
  position: relative;
  left: 1em;
  top: 50%;
  bottom: 50%;
  transform: translateY(-45%);
  font-size: 3em;
  color: black;
}

a img{
    height: 6em;
    margin-top: -1em;
}

.sideNavOpener{
  position: absolute;
  right: 0;
  top: 0.9em;
  margin-right: 3em;
  height: 3em;
  width: 3em;
  border-radius: 100em;
  border: unset;
  background-color: rgb(230, 230, 230);
  transition: 0.1s;
}
.sideNavOpener:hover{
  cursor: pointer;
  box-shadow: 2px 2px 3px grey;
}

.sideNav{
  position: absolute;
  right: 0;
  z-index: 11 !important;
  width: 20%;
  height: 100vh;
  background-color: white;
  border-left: 1px solid black;

  display: none;
  flex-direction: column; 
  align-items: flex-start; 
  padding: 10px;
  
  h1{
    position: relative;
    top: 1.5em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 3em;
  }
}
.sideNav.open{
  transform: translateX(0);
  display: flex;
}

.sideNavItem{
  position: relative;
  top: 10em;
  margin-left: auto;
  margin-right: auto;
}
.sideNavContent {
  display: none;
  padding: 10px;
  background-color: #f0f0f0;
  border-left: 2px solid #ccc;
  margin-top: 5px;
}
.sideNavButton {

  margin-top: 1em;
  padding: 10px;
  background: #ddd;
  border: none;
  cursor: pointer;

  border-radius: 1em;
  padding: 1em;
  font-size: 1.4em;
}
.sideNavButton:hover {
  background: #ccc;
}
/*===========================================================================================

Body

=============================================================================================*/
body{
    background-color: rgb(230, 230, 230);
}

.first{
    transform: rotateY(50deg);
    perspective: 10em;
    z-index: 2;
    scale: 0.7;
    box-shadow: 0px 5px 10px black;
    margin: -3em !important;
}

.second{
    transform: rotateY(30deg);
    perspective: 5em;
    z-index: 3;
    scale: 0.9;
    box-shadow: 0px 5px 10px black;
}

.third{
    perspective: 1em;
    z-index: 4;
    box-shadow: 0px 5px 10px black;
}

.fourth{
    transform: rotateY(330deg);
    perspective: 5em;
    z-index: 3;
    scale: 0.9;
    box-shadow: 0px 5px 10px black;
}

.fifth{
    transform: rotateY(310deg);
    perspective: 10em;
    z-index: 2;
    scale: 0.7;
    margin: -3em !important;
    box-shadow: 0px 5px 10px black;

}

.slide{
    /*box-shadow: 5px 5px black;*/
    border-radius: 0.5em;
    border: solid #CCC 0.1em;
    margin: -1em;
    background-color: white;
    padding: 5em 0.5em;
}
.slide:hover{
  cursor: pointer;
}

.slider{
  display: flex;
  padding: 3em 2em;
  position: absolute;
  top: 15%;
  margin-left: 4.1em;
  perspective: 100em;
}



.slideInformation{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);

    button{
        border: none;
        padding: 1em;
        border-radius: 0.5em;
        background-color: hsl(230, 230, 230);
        font-weight: bold;
        font-size: 1.2em;
        margin: 0.2em;
        transition: 0.35;
    }

    a{
        text-decoration: none;
        color: black;
    }

    button:hover{
        cursor: pointer;
        box-shadow: 2px 2px 3px grey;
    }
}
  .slider > div {
    flex: 0 0 auto;
    width: 20vw; /* or set a specific width like 600px */
    position: relative;
  }

  .slider img {
    width: 20vw;
    height: auto;
    display: block;
    
  }

  .slide img {
  transition: opacity 0.5s ease;
  opacity: 1;
}

img.fade-out {
  opacity: 0;
}


  .buttonL, .buttonR {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    background-color: rgba(0,0,0,0.5);
    border: none;
    color: white;
    padding: 1rem;
    cursor: pointer;
    border-radius: 7px;
    margin: 0 5px;
    transition: 0.1s;
  }
  .buttonL i, .buttonR i {
  font-size: 2em;
}

.buttonL:hover , .buttonR:hover {
    box-shadow: 0px 0px 3px black;
    
}

  .buttonL {
    left: 0;
  }

  .buttonR {
    right: 0;
  }